.contactsBlock {
    min-height: 50vh;
    background-color: #6b0a66;

}

.contactsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    margin: 10px;
    background-color: rgb(185, 223, 193);
}

.contactsForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.clickableBtn {
    background-color: #212529;
    padding: 5px 15px;
    margin: 10px;
}

.clickableBtn:hover {
    color: #6b0a66;
    text-shadow: 1px 1px 3px #000000;
    box-shadow: 0 0.3em 0.5em -0.25em #ee32ff;
    transition: 0.3s;
}

@media only screen and (max-width:800px) {
    .contactsForm {
        width: 90%;
    }

}

.form_container{
  position:absolute;
  margin-top: 0px;
  width:100%;
  height:50%;
  overflow:hidden;
  box-sizing: border-box;

  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 200px;
        transform-origin: -200px 50%;
        transition-delay:0s;
      }
    }

    .contactsForm{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index:10;
    opacity:0.65;
    transition-delay:0.2s;
  }
}

.top{
  &:before{transform:rotate(45deg);background:#e46569;}
  &:after{transform:rotate(135deg);background:#c78d61;}
}

.bottom{
  &:before{transform:rotate(-45deg);background:#3b0c3f;}
  &:after{transform:rotate(-135deg);background:#ca0bdb;}
}

.contactsForm{
  position:absolute;
  width:400px;
  height:400px;
  top:50%;left:50%;
  margin-left:-200px;
  margin-top:-200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:rgb(221, 193, 193);

  input{
    color: rgb(185, 223, 193);
    width:80%;
    padding:2px;
    margin:3px;
    border: none;
    font-family:inherit;
    background-color:#212529;
  }
  textarea{
    color:rgb(185, 223, 193);
    width:80%;
    margin: 3px;
    border: none;
    background-color:#212529;
  }
}

@media (max-width: 500px) {
    .contactsForm {
       margin-top: -150px;
    }

}

@media (max-height: 750px) {
    .contactsBlock {
        min-height: 80vh;
    }
    .contactsForm {
       margin-top: -150px;
    }
    .form_container{
        height: 80%;
    }
}

.clickableBtn[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}

.input {
  box-shadow: #212529;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}