.skillsBlock {
    min-height: 100vh;
    background-color: #630a6b;
}

.skillsContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    margin: 10px;
    background-color: blue;
}

.skills {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}