.mainBlock {
    min-height: 100vh;
    background-color: #212529;
    display: flex;
    align-items: center;

}

.container {
    display: flex;
    justify-content: space-between;
}

.text {
    width: 300px;
    background-color: #fff;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: red;
}

@media only screen and (max-width: 700px) {
    .container {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 752px) {
    .container {
        justify-content: center;
    }
}