@import './variables.scss';

@mixin text( $fontSize, $color, $lineHeight: null, $fontFamily: null) {
    font-family: $fontFamily;
    font-size:  $fontSize;
    line-height: $lineHeight;
    color: $color;
}