.footerBlock {
    min-height: 100px;
    background-color: #212529;
}

.footerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    padding-top: 10px;
    margin: 0 auto;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    width: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a:hover {
    color: #9c1596;
    text-shadow: 1px 1px 3px #201e1e;
}

@media screen and (max-width: 400px) {
    .links{
        flex-direction: column;
    }
}