@import './../common/styles/sass/variables.scss';

.projectsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  .projectsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .projects {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}
